.App {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  gap: 26px;
  margin-top: 26px;
}

#experience,
#personal,
#skills,
#education,
#experience,
#photo,
#graphics {
  padding-inline: 25px;
  display: flex;
  flex-direction: column;
  width: inherit;
  gap: 1rem;
}

h3 {
  font-size: 2.25rem;
  font-family: "Roboto";
  font-weight: 500;
  color: #c3c3c3;
  cursor: pointer;
}

.headerText:hover {
  color: black;
}

.form-gap {
  gap: 26px;
}

#photo__label-preview-duo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#photo__label-preview-text-duo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
}

.photo__preview__text {
  font-weight: 700;
  font-size: 1.5rem;
}

#uploadButton {
  align-self: flex-start;
}
