#header {
  padding-inline: 25px;
  display: flex;
  flex-direction: column;
  width: inherit;
}

#button__addExperience {
  height: 50px;
  width: 100px;
  background-color: black;
  color: white;
}
