#personal {
  padding-inline: 25px;
  display: flex;
  flex-direction: column;
  width: inherit;
}

input {
  font-size: inherit;
}

select {
  font-size: inherit;
  padding: 1px 2px;
}

.duo {
  /* border: 1px solid black; */
  width: 45%;
}

.fs--smaller {
  font-size: 1rem;
}

.form-gap {
  gap: 26px;
}

.triple-partner {
  width: 30%;
}

.birthday {
  gap: 1rem;
}

#email {
  width: 105%;
}
