#preview__banner {
  height: 200px;
  background-size: contain;
}

#preview__photo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 0;
  right: 0;
  bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid;
}

.overlay {
  z-index: 9;
  margin: 30px;
}

#preview__content {
  margin-top: -150px;
  padding-inline: 26px;
}

.preview__gap_smaller {
  gap: 16px;
}

.preview__gap_larger {
  gap: 20px;
}

.preview__gap_largest {
  gap: 30px;
}

.preview__header {
  cursor: auto;
}

.preview__experience__mod,
.preview__education__mod {
  align-items: flex-start;
  gap: 16px;
}

.preview__experience__mod__description {
  gap: 2px;
}

.preview__experience__name,
.preview__education__name {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 700;
}

.preview__experience__name {
  text-transform: uppercase;
}
.preview__experience__role,
.preview__education__degree {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 27px;
  font-style: italic;
}
.preview__experience__description {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 27px;
}
.preview__experience__dates,
.preview__education__dates {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 900;
  line-height: 21px;
}

.preview__education__mod__description {
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.preview__skills__skill {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.25rem;
  text-align: center;
}

#preview__banner__footer {
  height: 100px;
  background-size: cover;
}

#preview__skills {
  margin-bottom: 50px;
}

.preview__about__subheading {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 900;
}

.preview__about__output {
  font-size: 1.125rem;
}

#preview__about__address-subheader {
  align-self: flex-start;
  line-height: none;
}

#preview__about__address {
  align-self: flex-start;
}

#preview__about__address-output {
  justify-content: flex-start;
  line-height: 1.5;
  margin-top: -10px;
}

#preview {
  height: 250px;
  width: 250px;
}

h5 {
  font-family: "Roboto";
  font-weight: 300;
}

.experience__gap,
.skill__gap,
.education__gap {
  gap: 50px;
}

.wideshift-column {
  gap: 10px;
}
