#preview__banner {
  height: 200px;
  background-size: contain;
}

#preview__photo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid;
}

.preview__bannerduo {
  position: relative;
}

.overlay {
  z-index: 9;
  margin: 30px;
}
